<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login Form Design</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style media="screen">
    body {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100vh;
      /* background: url(loginBackground.jpg) no-repeat center center fixed; */
      background: url(/static/images/background4.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .login {
      width: 320px;
      height: 480px;
      background: #000;
      color: #fff;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
      border-radius: 25px;
    }

    .user {
      padding: 0;
      margin: 0;
      width: 100px;
      height: 88px;
      position: absolute;
      top: -50px;
      left: 110px;
    }

    h1 {
      padding: 0 0 20px;
      margin: 0;
      text-align: center;
      font-size: 30px;
    }

    .login p {
      padding: 0;
      margin: 0;
      font-weight: bold;
    }

    .login input {
      width: 100%;
      margin-bottom: 20px;
    }

    .login input[type="text"] input[type="password"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px;
    }

    .login input[type="submit"] {
      border: none;
      outline: none;
      height: 30px;
      background: #436bde;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
    }

    .login input[type="submit"]:hover {
      cursor: pointer;
      background: green;
      color: #000;
    }

    .login a {
      text-decoration: none;
      font-size: 15px;
      line-height: 30px;
      color: darkgray;
    }

    .login a:hover {
      color: #436bde;
    }
  </style>
</head>

<body>
  <div class="login">
    <img src="/static/images/teacher.png" alt="" class="user">
    <h1>Register Student</h1>
    <form class="" action="/admin/dashboard/create_student/create" method="post">
      <p>Username</p>
      <input type="text" class="form-control" name="username" value="" placeholder="username" required>
      <p>Password</p>
      <input type="text" class="form-control" name="password" value="" placeholder="password" required>
      <p>Email</p>
      <input type="text" class="form-control" name="email" value="" placeholder="email" required>
      <br>
      <input type="submit" name="submit" value="Register">
    </form>
  </div>
</body>

</html>
