<!DOCTYPE html>
<html lang="en">

  <head>
        <%- include("../partials/admin.head.ejs", {title : "Profile"}) %>
  </head>

  <body>

            <%- include('../partials/admin.nav.ejs') %>

  </body>
</html>
