<!DOCTYPE html>
  <html lang="en">
  <head>
  <title>e Gate  IITTP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  </style>
</head>
<body style="background-color:gray">

<div class="jumbotron" style="background-image:url(https://images.unsplash.com/photo-1513814849355-3d28bf2e0f0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80); background-size: 100%;margin-bottom:0">
  <div class="container">
    <div class="row">
    <div class="col-xs-3 col-sm-2">
        <a href="" target="_blank"><img  class="img-responsive" style=""></a>
      </div>
      <div class="col-xs-9 col-sm-10">
        <h1 style="color:white; margin-bottom:0;">e GATE</h1>
      </div>

    </div>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand" style="font-weight: bold;">eGATE (Online Outing Portal)</p>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" style="font-weight: bold;">
        <li class="active"><a href="#">HOME</a></li>
        <li ><a href="#">CONTACT</a></li>
        <li><a href="#">ABOUT US</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sx-6">
      <h2 align="center" style="color:white">Student Login</h2>
      <div class="img-responsive" style="content:url(https://www.mcicon.com/wp-content/uploads/2020/12/Education_Student_1-copy-8.jpg);"></div>
      <a href="/student/login" class="btn btn-primary btn-block btn-lg" role="button">Login as Student</a>
      </div>
      <div class="col-sm-6 col-sx-6">
      <h2 align="center" style="color:white;">Administrator Login</h2>
      <div class="img-responsive" style="content:url(https://www.mcicon.com/wp-content/uploads/2021/04/Businessman-04.jpg);"></div>
      <a href="/admin/login" class="btn btn-primary btn-block btn-lg" role="button" style="font-size: 15px;">Login as Administrator</a>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Copyrights: Nothing much</p>
</div>

</body>
</html>
